<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=20240121">
    <link rel="stylesheet" href="{% static 'css/left_aside.css' %}?v=20240121">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}?v=20240121">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6998928b29.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    {% include 'navbar.html' %}
</header>
<main>
    {% include 'left_col.html' %}
    <div class="side-gutter"></div>
    <div class="inside">
        <div class="center-main-field">
            <div class="main-text">
                <h1>우리는 가짜연구소 '추천시스템 리서치팀' 입니다.</h1>
            </div>
            <div class="main-text-gutter"></div>
            <div class="sub-text">
                <p>컨텐츠 홍수 속 선택의 고민으로부터의 해방. 가짜연구소 추천시스템 리서치는 이러한 추천시스템의 원리부터 서비스에 적용되는 기술까지, 추천시스템의 모든 것을 깊이 이해해 보고자 모인
                    사람들입니다. </p>
            </div>
            <hr class="separator" style="border-top-width:1px; border-color:#000000;">
            <div class="profile-boxes">
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/kyeongchan.jpg">
                    </article>

                    <h1>이경찬</h1>
                    <h2>Data Scientist</h2>

                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>nahcklee@gmail.com</span>
                        </li>
<!--                        <a href="https://www.linkedin.com/in/nahcklee/" target='_blank'>-->
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/seungmin.jpeg">

                    </article>
                    <h1>서승민</h1>
                    <h2>Data Analyst</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>baoro9394@gmail.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/seungmin-seo-049b69195/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/hyunwoo.jpeg">
                    </article>
                    <h1>김현우</h1>
                    <h2>AI research engineer</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>kimhyeonwoo2431@gmail.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/%ED%98%84%EC%9A%B0-%EA%B9%80-566841180/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/minsang.jpeg">
                    </article>
                    <h1>남궁민상</h1>
                    <h2>Doctoral Program student</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>whovian@kaist.ac.kr</span>
                        </li>
                        <a href="https://www.linkedin.com/in/msnamgoong/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/namjoon.jpeg">
                    </article>
                    <h1>이남준</h1>
                    <h2>Data engineer</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>fabric_lee@naver.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/davidlee1992/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>

                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/gwondong.jpeg">
                    </article>
                    <h1>이권동</h1>
                    <h2>AI developer</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>lgd1810@gmail.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/gwon-dong-lee-b88425228/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/soonhyeok.jpeg">
                    </article>
                    <h1>박순혁</h1>
                    <h2>Data scientist</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>tmxk0712@naver.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/%EC%88%9C%ED%98%81-%EB%B0%95-46016721a/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</main>
</body>
</html>