<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=20240121">
    <link rel="stylesheet" href="{% static 'css/left_aside.css' %}?v=20240121">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}?v=20240121">
    <script src="https://kit.fontawesome.com/6998928b29.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    {% include 'navbar.html' %}
</header>
<main>
    {% include 'left_col_about_us.html' %}
    <div class="side-gutter"></div>
    <div class="inside">
        <div class="center-main-field">
            <div class="main-text">
                <h1>우리는 가짜연구소 '추천시스템 리서치팀' 입니다.</h1>
            </div>
            <div class="main-text-gutter"></div>
            <div class="sub-text">
                <p>컨텐츠 홍수 속 선택의 고민으로부터의 해방. 가짜연구소 추천시스템 리서치는 이러한 추천시스템의 원리부터 서비스에 적용되는 기술까지, 추천시스템의 모든 것을 깊이 이해해 보고자 모인
                    사람들입니다. </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24"
                         style="pointer-events: auto;">
                        <a href="https://www.notion.so/chanrankim/002979194f024add98ae492ea0598e7b?pvs=4"
                           target='_blank'>
                            <path fill="currentColor"
                                  d="M4.459 4.208c.746.606 1.026.56 2.428.466l13.215-.793c.28 0 .047-.28-.046-.326L17.86 1.968c-.42-.326-.981-.7-2.055-.607L3.01 2.295c-.466.046-.56.28-.374.466zm.793 3.08v13.904c0 .747.373 1.027 1.214.98l14.523-.84c.841-.046.935-.56.935-1.167V6.354c0-.606-.233-.933-.748-.887l-15.177.887c-.56.047-.747.327-.747.933zm14.337.745c.093.42 0 .84-.42.888l-.7.14v10.264c-.608.327-1.168.514-1.635.514c-.748 0-.935-.234-1.495-.933l-4.577-7.186v6.952L12.21 19s0 .84-1.168.84l-3.222.186c-.093-.186 0-.653.327-.746l.84-.233V9.854L7.822 9.76c-.094-.42.14-1.026.793-1.073l3.456-.233l4.764 7.279v-6.44l-1.215-.139c-.093-.514.28-.887.747-.933zM1.936 1.035l13.31-.98c1.634-.14 2.055-.047 3.082.7l4.249 2.986c.7.513.934.653.934 1.213v16.378c0 1.026-.373 1.634-1.68 1.726l-15.458.934c-.98.047-1.448-.093-1.962-.747l-3.129-4.06c-.56-.747-.793-1.306-.793-1.96V2.667c0-.839.374-1.54 1.447-1.632"/>
                        </a>
                    </svg>
                    &nbsp;가짜연구소 추천시스템 리서치 노션 페이지
                </p>

            </div>
            <hr class="separator" style="border-top-width:1px; border-color:#000000;">
            <div class="profile-boxes">
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/kyeongchan_380x590.png">
                    </article>

                    <h1>이경찬</h1>
                    <h2>Data Scientist</h2>

                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>nahcklee@gmail.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/nahcklee/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/seungmin_380x590.png">

                    </article>
                    <h1>서승민</h1>
                    <h2>Data Analyst</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>baoro9394@gmail.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/seungmin-seo-049b69195/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/hyunwoo_380x590.png">
                    </article>
                    <h1>김현우</h1>
                    <h2>AI research engineer</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>kimhyeonwoo2431@gmail.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/%ED%98%84%EC%9A%B0-%EA%B9%80-566841180/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/minsang_380x590.png">
                    </article>
                    <h1>남궁민상</h1>
                    <h2>Doctoral Program student</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>whovian@kaist.ac.kr</span>
                        </li>
                        <a href="https://www.linkedin.com/in/msnamgoong/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/namjoon_380x590.png">
                    </article>
                    <h1>이남준</h1>
                    <h2>Data engineer</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>fabric_lee@naver.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/davidlee1992/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>

                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/gwondong_380x590.png">
                    </article>
                    <h1>이권동</h1>
                    <h2>AI developer</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>lgd1810@gmail.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/gwon-dong-lee-b88425228/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
                <section>
                    <article class="profile">
                        <img src="../static/img/about_us/soonhyeok_380x590.png">
                    </article>
                    <h1>박순혁</h1>
                    <h2>Data scientist</h2>
                    <ul class="contact">
                        <li>
                            <i class="fa-regular fa-envelope"></i>
                            <span>tmxk0712@naver.com</span>
                        </li>
                        <a href="https://www.linkedin.com/in/%EC%88%9C%ED%98%81-%EB%B0%95-46016721a/" target='_blank'>
                            <li>
                                <i class="fa-brands fa-linkedin"></i>
                                <span>LinkedIn</span>
                            </li>
                        </a>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</main>
</body>
</html>