main {
    display: table;
    width: 100%;

}

.center-main-field{
    width: 75%;
}

.center-main-field h1, h2, h3{
	font-weight: normal;
	margin: 0;
	margin-top: 20px;
}

.center-main-field p{
	margin-top: 5px;
}

.side-gutter {
    width: 50px;
    display: table-cell;
}