{% load static %}
<!DOCTYPE html >
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title> vertical-layout </title>	
	<link rel="icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="https://kit.fontawesome.com/c47106c6a7.js"></script>​
	<script src="../js/isotope.pkgd.min.js"></script>
    <script defer src="../js/main.js"></script>
</head>
<body>

	<header>
		<h1>PSEUDO LAB</h1>
		<ul>
			<li><a href="https://www.notion.so/chanrankim/86625e8a719244c68fe61d17472aa50a?pvs=4" target="blank"><i class="fab fa-twitter-square"></i> <span>Notion</span></a></li>
			<li><a href="#"><i class="fab fa-facebook"></i> <span>Facebook</span></a></li>
			<li><a href="#"><i class="fas fa-envelope"></i> <span>E-mail</span></a></li>
		</ul>
	</header>

	<main>
		<ul>
			<li><a href=".even.bert4rec">BERT4Rec</a></li>
			<li><a href=".odd.kprn">KPRN</a></li>
			<li><a href=".even.srgnn">SR-GNN</a></li>
			<li><a href=".odd.gru4rec">GRU4Rec</a></li>
			<li><a href=".even.pinsage">PinSage</a></li>
			<li><a href=".odd.fpmc">FPMC</a></li>
			<li><a href=".even.ngcf">NGCF</a></li>
			<li><a href=".odd.sasrec">SASRec</a></li>
			<li class='on'><a href="*">ALL</a></li>

		</ul>

		<section>
			<article class='odd sasrec'>
				<div>
					<img src="img/p1.jpg" alt="">
					<h2>SASRec 추천결과 1</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even ngcf'>
				<div>
					<img src="../img/p2.jpg" alt="">
					<h2>NGCF 추천결과 1</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='odd fpmc'>
				<div>
					<img src="../../img/p3.jpg" alt="">
					<h2>FPMC 추천결과 1</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even pinsage'>
				<div>
					<img src="../img/p4.jpg" alt="">
					<h2>PinSage 추천결과 1</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='odd gru4rec'>
				<div>
					<img src="../img/p5.jpg" alt="">
					<h2>GRU4Rec 추천결과 1</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even srgnn'>
				<div>
					<img src="../img/p6.jpg" alt="">
					<h2>SR-GNN 추천결과 1</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='odd kprn'>
				<div>
					<img src="../img/p7.jpg" alt="">
					<h2>KPRN 추천결과 1</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even bert4rec'>
				<div>
					<img src="../img/p8.jpg" alt="">
					<h2>BERT4Rec 추천결과 1</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='odd sasrec'>
				<div>
					<img src="../img/p9.jpg" alt="">
					<h2>SASRec 추천결과 2</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even ngcf'>
				<div>
					<img src="../img/p10.jpg" alt="">
					<h2>NGCF 추천결과 2</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='odd fpmc'>
				<div>
					<img src="../img/p11.jpg" alt="">
					<h2>FPMC 추천결과 2</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even pinsage'>
				<div>
					<img src="../img/p12.jpg" alt="">
					<h2>Pinsage 추천결과 2</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='odd gru4rec'>
				<div>
					<img src="../img/p13.jpg" alt="">
					<h2>GRU4Rec 추천결과 2</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even srgnn'>
				<div>
					<img src="../img/p14.jpg" alt="">
					<h2>SR-GNN 추천결과 2</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='odd kprn'>
				<div>
					<img src="../img/p15.jpg" alt="">
					<h2>KPRN 추천결과 2</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even bert4rec'>
				<div>
					<img src="../img/p16.jpg" alt="">
					<h2>BERT4Rec 추천결과 2</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='odd'>
				<div>
					<img src="../img/p17.jpg" alt="">
					<h2>17</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even'>
				<div>
					<img src="../img/p18.jpg" alt="">
					<h2>18</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='odd'>
				<div>
					<img src="../img/p19.jpg" alt="">
					<h2>19</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
			<article class='even'>
				<div>
					<img src="../img/p20.jpg" alt="">
					<h2>20</h2>
					<p>Here comes content description in detail.</p>
				</div>
			</article>
		</section>
	</main>
</body>
</html>
