{% load static %}
<div class="left-float-field">
    <a href="/" class="logo">
        <img src="{% static 'img/pseudorec logo tight.png' %}" alt="Logo">
    </a>
    <p class="pseudorec">PseudoRec</p>
    <div class="menu">
        <ul class="nav-links">
            <li>
                <div class="icon-link">
                    <a href="/">
                        <ion-icon name="grid-outline"></ion-icon>
                        <span>Models</span>
                    </a>
<!--                    <ion-icon name="chevron-down-outline" class="arrow"></ion-icon>-->
                </div>
            </li>
            <li class="showMenu">
                <div class="icon-link">
                    <a>
                        <ion-icon name="chatbox-outline"></ion-icon>
                        <span>LLM</span>
                    </a>
<!--                    <ion-icon name="chevron-down-outline" class="arrow"></ion-icon>-->
                </div>
                <ul class="sub-menu">
                    <li><a href="/llmrec/hyeonwoo/">현우<sup style="color: blue;">beta</sup></a></li>
                    <li><a href="/llmrec/kyeongchan/">경찬 & 병철<sup style="color: blue;">beta</sup></a></li>
                    <li><a href="/llmrec/gyungah/">경아<sup style="color: blue;">beta</sup></a></li>
                    <li><a href="/llmrec/soonhyeok/">순혁<sup style="color: blue;">beta</sup></a></li>
                    <li><a href="/llmrec/namjoon/">남준<sup>준비중</sup></a></li>
                    <li><a href="/llmrec/minsang/">민상<sup>준비중</sup></a></li>
                </ul>
            <li>
        </ul>
    </div>
</div>

<script>
        let arrow = document.querySelectorAll('.arrow');
    console.log(arrow);
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener('click', (e) => {
            let arrowParent = e.target.parentElement.parentElement;
            console.log(arrowParent);
            arrowParent.classList.toggle('showMenu');
        });
    }
</script>