{% load static %}

<div class="left-float-field">
    <a href="/" class="logo">
        <img src="{% static 'img/pseudorec logo tight.png' %}" alt="Logo">
    </a>
    <p class="pseudorec">PseudoRec</p>
    <div class="menu">
        <ul class="nav-links">
            <li>
                <div class="icon-link">
                    <!-- fontawesome -->
                    <a href="/archive/monthly_pseudorec/">
                        <ion-icon name="newspaper-outline"></ion-icon>
                        <span>월간슈도렉</span>
                    </a>
                    <!--                    <ion-icon name="chevron-down-outline" class="arrow"></ion-icon>-->
                </div>
            </li>
            <li>
                <div class="icon-link">
                    <a href="/archive/paper_review/">
                        <ion-icon name="documents-outline"></ion-icon>
                        <span>Paper Review</span>
                    </a>
                    <!--                    <ion-icon name="chevron-down-outline" class="arrow"></ion-icon>-->
                </div>
            </li>
            <li>
                <div class="icon-link">
                    <a href="/archive/paper_talk/">
                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                        <span>Paper Talk</span>
                    </a>
                    <!--                    <ion-icon name="chevron-down-outline" class="arrow"></ion-icon>-->
                </div>
            </li>
        </ul>
    </div>
    <button class="hamburger-menu" aria-label="Toggle navigation">
        <div></div>
        <div></div>
        <div></div>
    </button>
</div>

<script>
    let arrow = document.querySelectorAll('.arrow');
    console.log(arrow);
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener('click', (e) => {
            let arrowParent = e.target.parentElement.parentElement;
            console.log(arrowParent);
            arrowParent.classList.toggle('showMenu');
        });
    }

    // 햄버거 메뉴
    document.addEventListener("DOMContentLoaded", function () {
        const hamburgerMenu = document.querySelector(".hamburger-menu");
        const sidebar = document.querySelector(".left-float-field");
        const mainContent = document.querySelector("main");

        hamburgerMenu.addEventListener("click", function () {
            console.log('click')
            hamburgerMenu.classList.toggle("open");
            sidebar.classList.toggle("open");
            mainContent.classList.toggle("shift");
        });
    });
</script>