{% load static %}
<div class="left-float-field">
    <a href="/" class="logo">
        <img src="{% static 'img/listeners_logo_color_transparent.png' %}" alt="Logo">
    </a>
</div>

<script>
    let arrow = document.querySelectorAll('.arrow');
    console.log(arrow);
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener('click', (e) => {
            let arrowParent = e.target.parentElement.parentElement;
            console.log(arrowParent);
            arrowParent.classList.toggle('showMenu');
        });
    }

</script>