<!DOCTYPE html>
{% load paper_review_filter %}
{% load static %}
{% load custom_filters %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} - Paper Review</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/left_aside.css' %}?v=2024011916">
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/code_styles.css' %}">
    <script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>
    <!--    iconicons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6998928b29.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <main>
        {% include 'left_col_post_list.html' %}
        <div class="side-gutter"></div>
        <div class="center-main-field">


            <div class="paper-review-detail">
                {% if post|instanceof:PostMonthlyPseudorec and user.is_staff or user.is_superuser %}
                <div class="post-actions">
                    <a href="{% url 'edit_monthly_pseudorec_post' post.pk %}" class="btn btn-primary">✏️ 편집</a>
                    <form method="POST" action="{% url 'delete_monthly_pseudorec_post' post.pk %}"
                        style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">🗑 삭제</button>
                    </form>
                </div>
                {% endif %}
                <div class="right-field">
                    <div class="paper-review-main">
                        <h1>{{ post.title }}</h1>
                        {% if not post.author2 %}
                        <!-- 작성자가 한 명일 때 -->
                        <div class="user">
                            <div class="user-info-wrapper">
                                {% if post.author_image %}
                                <img src={{post.author_image.url}} alt="">
                                {% else %}
                                <p>No image available</p>
                                {% endif %}
                                <div class="user-info">
                                    <h5>{{post.author}}</h5>
                                    <small>{{post.month}}</small>
                                </div>
                            </div>
                            <div class="post-view">
                                <p class="comment-count" id="comment-count-btn">
                                    <i class="fa-regular fa-comment"></i>
                                    <span>{{ comments|length }}</span> <!-- 숫자를 span으로 감싸기 -->
                                </p>
                                <p><i class="fa-regular fa-eye"></i> {{ post.view_count }}</p>
                            </div>

                        </div>
                        {% else %}
                        <!-- 작성자가 두 명일 때 -->
                        <div class="user">
                            <div class="user-info-wrapper">
                                {% if post.author_image %}
                                <img src={{post.author_image.url}} alt="">
                                {% else %}
                                <p>No image available</p>
                                {% endif %}
                                <div class="user-info">
                                    <h5>{{post.author}}</h5>
                                </div>
                                {% if post.author_image2 %}
                                <img src="{{ post.author_image2.url }}" alt="{{ post.author2 }} 사진"
                                    class="author-image author2-image">
                                {% else %}
                                {% endif %}

                                {% if post.author2 and post.author2 != "작성자2추가" %}
                                <div class="user-info author2-info">
                                    <h5 class="author-name author2-name">{{ post.author2 }}</h5>
                                </div>
                                {% else %}

                                {% endif %}
                            </div>
                            <div class="post-view">
                                <p><i class="fa-regular fa-eye"></i> {{ post.view_count }}</p>
                            </div>
                        </div>
                        <p class="post-date">{{ post.created_at|date:"Y-m-d" }}</p>
                        {% endif %}

                        <!-- Pygments가 적용된 코드 블록을 출력 -->
                        <p>{{ markdown_content_with_highlight|safe }}</p>
                        <hr />
                        <!--                    <h3>여기 댓글이 들어올 수 있겠죠?</h3>-->
                    </div>
                </div>
            </div>
            <div class="toc">
                <h2>Table of Contents</h2>
                <ul id="toc-list">
                    <!-- 여기에 JavaScript로 TOC 항목이 추가됩니다. -->
                </ul>
            </div>
        </div>

    </main>
    <div id="comments-section">
        <h3>Leave a Comment:</h3>
        {% if user.is_authenticated %}
        <form id="commentForm" method="POST">
            {% csrf_token %}
            <textarea id="commentInput" name="content" placeholder="댓글을 입력하세요..." required></textarea>
            <div class="comment-form-actions">
                <button type="submit">Submit</button>
            </div>
        </form>
        {% else %}
        <!-- 🚀 비로그인 상태일 때 표시 -->
        <div class="disabled-comment-box">
            <p>로그인 후 댓글을 작성할 수 있습니다.</p>
        </div>
        {% endif %}

        <h3>Comments:</h3>
        <div id="comments-list">
            {% for comment in comments %}
            <div class="comment-item">
                {% if comment.author.profile_image %}
                <div class="comment-avatar">
                    <img src="{{ comment.author.profile_image.url }}" alt="avatar">
                </div>
                {% else %}
                <div class="comment-avatar">
                    <img src="{% static 'img/member/for_monthly_pseudorec/default_user.png' %}" alt="avatar">
                </div>
                {% endif %}
                <div class="comment-content">
                    <div class="comment-author">{{ comment.author }}</div>
                    <p class="comment-text">{{ comment.content|linebreaksbr }}</p>
                    <span class="comment-date">{{ comment.created_at|date:"Y년 m월 d일 P" }}</span>
                    <!-- 수정 및 삭제 버튼 -->
                    {% if comment.author == request.user %}
                    <div class="comment-actions">
                        <a href="{% url 'edit_comment' comment.id %}" class="edit-button">Edit</a>
                        <a href="{% url 'delete_comment' comment.id %}" class="delete-button">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p>No comments yet. Be the first to comment!</p>
            {% endfor %}
        </div>
    </div>

</body>
{{ form.media }}

</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const images = document.querySelectorAll(".center-main-field img");

        images.forEach(img => {
            img.addEventListener('click', () => {
                const popup = document.createElement("div");
                popup.id = "image-popup";
                popup.className = "popup";
                popup.innerHTML = '<span class="close">&times;</span><img class="popup-content" id="popup-img">';

                document.body.appendChild(popup);

                const popupImg = document.getElementById("popup-img");
                popupImg.src = img.src;

                // Remove inline style and use CSS classes instead
                popup.classList.add('visible');

                popupImg.addEventListener('click', () => {
                    popup.style.display = "none";
                    document.body.removeChild(popup);
                });

                const span = document.querySelector(".close");

                span.addEventListener('click', () => {
                    // Remove the popup element from the DOM
                    popup.remove();
                });

                popup.addEventListener('click', (event) => {
                    if (event.target === popup) {
                        // Remove the popup element from the DOM
                        popup.remove();
                    }
                });
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const tocList = document.getElementById('toc-list');
        const headers = document.querySelectorAll('.paper-review-main h1, .paper-review-main h2, .paper-review-main h3, .paper-review-main h4');

        headers.forEach((header, index) => {
            const id = `section-${index}`;
            header.id = id;

            const li = document.createElement('li');
            const a = document.createElement('a');
            a.href = `#${id}`;
            a.textContent = header.textContent;

            // 헤드라인 수준에 따라 클래스 추가
            if (header.tagName === 'H1') {
                li.classList.add('level-1');
            } else if (header.tagName === 'H2') {
                li.classList.add('level-2');
            } else if (header.tagName === 'H3') {
                li.classList.add('level-3');
            } else if (header.tagName === 'H4') {
                li.classList.add('level-4');
            }


            li.appendChild(a);
            tocList.appendChild(li);
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const commentCountBtn = document.getElementById("comment-count-btn");
        const commentSection = document.getElementById("comments-section");

        if (commentCountBtn && commentSection) {
            commentCountBtn.addEventListener("click", function () {
                commentSection.scrollIntoView({ behavior: "smooth", block: "start" });
            });
        }
    });

</script>