<!DOCTYPE html>
{% load paper_review_filter %}
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Paper Review</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/left_aside.css' %}?v=2024011916">
    <!--    <link rel="stylesheet" href="{% static 'css/post_list.css' %}?v=2024011916">-->
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}?v=2024011916">
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>
    <!--    iconicons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</head>

<body>
<header>
    {% include 'navbar.html' %}
</header>
<main>
    {% include 'left_col_post_list.html' %}
    <div class="side-gutter"></div>
    <div class="center-main-field">
        <div class="paper-review-main">
            <h1>Study Archive</h1>
            <hr/>
            {% for p in posts %}
            <article>
                <h2><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>
                <p>{{ p.created_at }}</p>
                <p>{{ p.content | truncatewords_html:45 | safe}}</p>
            </article>
            {% endfor %}
        </div>
    </div>
</main>
</body>
</html>