<!DOCTYPE html>
{% load paper_review_filter %}
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Paper Review</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/left_aside.css' %}?v=2024011916">
    <!--    <link rel="stylesheet" href="{% static 'css/post_list.css' %}?v=2024011916">-->
    <link rel="stylesheet" href="{% static 'css/post_list_monthly_pseudorec.css' %}">
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>
    <!--    iconicons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6998928b29.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    <main>
        {% include 'left_col_post_list.html' %}
        <div class="side-gutter"></div>
        <div class="center-main-field">
            <div class="paper-review-main">
                <h1>{{ header }}</h1>
                <p>{{description}}</p>
                <hr />
                {% if user.is_staff %} <!-- 스태프만 글 작성 가능 -->
                <a href="{% url 'add_monthly_pseudorec_post' %}" class="btn btn-primary">
                    + 새 글 작성
                </a>
                {% endif %}
                {% regroup posts by month as post_groups %}
                {% for group in post_groups %}
                <h2>{{ group.month }}</h2>
                <div class="container">
                    <h2>{{ group.grouper }}</h2> <!-- Group by month -->
                    <div class="container">
                        {% for post in group.list %}
                        <div class="card">
                            <div class="card-header">
                                {% if post.card_image %}
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.card_image.url }}" alt="Card Image">
                                </a>
                                {% else %}
                                <p>No image available</p>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <span class="tag tag-teal">{{post.tag1}}</span>
                                <span class="tag tag-purple">{{post.tag2}}</span>
                                <h4><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h4>
                                <p>{{post.subtitle}}</p>
                                <div class="user">
                                    <div class="user-info-wrapper">
                                        {% if post.author_image %}
                                        <img src={{post.author_image.url}} alt="user 2">
                                        {% else %}
                                        <p>No image available</p>
                                        {% endif %}
                                        <div class="user-info">
                                            <h5>{{post.author}}</h5>
                                            <small>{{post.month}}</small>
                                        </div>
                                    </div>
                                    <div class="view-info">
                                        {% if post.comment_count and post.comment_count > 0 %}
                                        <i class="fa-regular fa-comment"></i> {{ post.comment_count }}
                                        {% endif %}
                                        <i class="fa-regular fa-eye"></i> {{ post.view_count }}
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                </article>
            </div>
        </div>
    </main>
</body>

</html>